 #front_clock img{
    animation-name: clock;
    animation-duration: 60s;
    animation-delay: 0;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes clock {
    0%{
        filter: drop-shadow(0 0 20px lime);
    }
    50% {
        filter: drop-shadow(0 0 20px lime);
    }
    75% {
        filter: drop-shadow(0 0 20px yellow)
    }
    100% {
        transform: rotate(300deg);
        filter: drop-shadow(0 0 20px red);
    }
}

#syringe_container {
    animation-name: syringe;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(0);
}

@keyframes syringe {
    0% { top:0%;
        left: 50%;
        transform: scale(1);
    }

    50% {
        top: 50%;
        left: 90%;
        transform: scale(1);
    }

    100% {
        top: 100%;
        left: 50%;
        transform: scale(1);
    }
}

#chicken_container {
    animation-name: chicken;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(0);
}

@keyframes chicken {
    0% { top: 0%;
        left: 60%;
        transform: scale(1);
    }

    100% {
        top: 50%;
        left: 60%;
        transform: scale(1);
    }
}

#protein_container {
    animation-name: protein;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(0);
}

@keyframes protein {
    from { top:0%;
        left: 40%;
        transform: scale(1);
    }
    to {
        top: 100%;
        left: 40%;
        transform: scale(1);
    }
}


#beer_container {
    animation-name: beer;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(0);
}

@keyframes beer {
    from { top:0%;
        left: 75%;
        transform: scale(1);
    }
    to {
        top: 100%;
        left: 75%;
        transform: scale(1);
    }
}
#vodka_container {
    animation-name: vodka;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(0);
}

@keyframes vodka {
    from { top:0%;
        left: 50%;
        transform: scale(1);
    }
    to {
        top: 100%;
        left: 50%;
        transform: scale(1);
    }
}
